/* some default styles */
body {
  background: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background: #181818;
  padding: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

/* lesson-styles */
